In [74]:
from neo4j import GraphDatabase
import pandas as pd
import networkx as nx
import plotly.graph_objects as go

import plotly.io as pio
pio.renderers.default = 'notebook'

In [2]:
driver = GraphDatabase.driver("bolt://localhost:7687", auth=("neo4j", "abadeus1998"))

In [11]:
def cypher_query_read_executor(query):
    with driver.session(database="frauddetect") as session:
        return session.execute_read(lambda tx: [record.data() for record in tx.run(query)])
    
    
def cypher_query_write_executor(query, parameters=None):
    with driver.session(database="frauddetect") as session:
        return session.execute_write(lambda tx: tx.run(query, parameters or {}))

In [23]:
def get_relationships():
    query = """MATCH (n)-[r]->(m) RETURN DISTINCT labels(n), type(r), labels(m)"""
    results = cypher_query_read_executor(query)
    return results

In [3]:
def get_top_clients(tx):
    query = """
    MATCH (c:Client)-[:POSSEDE]->(:Compte)-[:REALISE]->(t:Transaction)
    RETURN c.name AS client, COUNT(t) AS nb_transacs ORDER BY nb_transacs DESC LIMIT 10
    """
    return list(tx.run(query))

In [24]:
relations = get_relationships()
relations_df = pd.DataFrame(relations)
# for row in relations:
#     print(row)
relations_df

                  labels(n)    type(r)                labels(m)
0                  [Client]  PERFORMED    [CashIn, Transaction]
1     [CashIn, Transaction]         TO               [Merchant]
2            [Client, Mule]  PERFORMED  [Transfer, Transaction]
3   [Transfer, Transaction]         TO           [Client, Mule]
4                  [Client]  PERFORMED   [Payment, Transaction]
5    [Payment, Transaction]         TO               [Merchant]
6                  [Client]  PERFORMED  [Transfer, Transaction]
7                  [Client]  PERFORMED     [Debit, Transaction]
8      [Debit, Transaction]         TO                   [Bank]
9                  [Client]  PERFORMED   [CashOut, Transaction]
10   [CashOut, Transaction]         TO               [Merchant]
11  [Transfer, Transaction]         TO                 [Client]
12           [Client, Mule]    HAS_SSN                    [SSN]
13           [Client, Mule]  HAS_EMAIL                  [Email]
14           [Client, Mule]  HAS_PHONE                  [Phone]
15                 [Client]    HAS_SSN                    [SSN]
16                 [Client]  HAS_EMAIL                  [Email]
17                 [Client]  HAS_PHONE                  [Phone]
18                 [Client]   FIRST_TX    [CashIn, Transaction]
19                 [Client]    LAST_TX    [CashIn, Transaction]
20    [CashIn, Transaction]       NEXT    [CashIn, Transaction]
21    [CashIn, Transaction]       NEXT   [CashOut, Transaction]
22   [CashOut, Transaction]       NEXT   [CashOut, Transaction]
23   [CashOut, Transaction]       NEXT    [CashIn, Transaction]
24    [CashIn, Transaction]       NEXT  [Transfer, Transaction]
25  [Transfer, Transaction]       NEXT    [CashIn, Transaction]
26   [CashOut, Transaction]       NEXT   [Payment, Transaction]
27   [Payment, Transaction]       NEXT    [CashIn, Transaction]
28    [CashIn, Transaction]       NEXT   [Payment, Transaction]
29   [Payment, Transaction]       NEXT   [Payment, Transaction]
30   [Payment, Transaction]       NEXT     [Debit, Transaction]
31     [Debit, Transaction]       NEXT   [Payment, Transaction]
32   [Payment, Transaction]       NEXT   [CashOut, Transaction]
33   [Payment, Transaction]       NEXT  [Transfer, Transaction]
34  [Transfer, Transaction]       NEXT   [Payment, Transaction]
35   [CashOut, Transaction]       NEXT  [Transfer, Transaction]
36  [Transfer, Transaction]       NEXT   [CashOut, Transaction]
37     [Debit, Transaction]       NEXT   [CashOut, Transaction]
38     [Debit, Transaction]       NEXT    [CashIn, Transaction]
39  [Transfer, Transaction]       NEXT  [Transfer, Transaction]
40    [CashIn, Transaction]       NEXT     [Debit, Transaction]
41   [CashOut, Transaction]       NEXT     [Debit, Transaction]
42     [Debit, Transaction]       NEXT  [Transfer, Transaction]
43                 [Client]    LAST_TX   [CashOut, Transaction]
44                 [Client]    LAST_TX   [Payment, Transaction]
45  [Transfer, Transaction]       NEXT     [Debit, Transaction]
46                 [Client]    LAST_TX  [Transfer, Transaction]
47     [Debit, Transaction]       NEXT     [Debit, Transaction]
48                 [Client]    LAST_TX     [Debit, Transaction]
49           [Client, Mule]   FIRST_TX  [Transfer, Transaction]
50           [Client, Mule]    LAST_TX  [Transfer, Transaction]
51                 [Client]   FIRST_TX   [Payment, Transaction]
52                 [Client]   FIRST_TX     [Debit, Transaction]
53                 [Client]   FIRST_TX   [CashOut, Transaction]
54                 [Client]   FIRST_TX  [Transfer, Transaction]

#### 1. Identifier les entités

In [22]:
def get_entities():
    query = """MATCH (n) RETURN labels(n) AS type, count(*) AS total ORDER BY total DESC;"""
    results = cypher_query_read_executor(query)
    results_df = pd.DataFrame.from_records(results)
    return results_df

entities = get_entities()
entities

                       type   total
0     [CashIn, Transaction]  149037
1    [CashOut, Transaction]   76023
2    [Payment, Transaction]   74577
3   [Transfer, Transaction]   19460
4      [Debit, Transaction]    4392
5                     [SSN]    2238
6                   [Phone]    2234
7                   [Email]    2229
8                  [Client]    2000
9            [Client, Mule]     433
10               [Merchant]     347
11                   [Bank]       3

### 2. Recherche de clients actifs avec de nombreuses transactions

In [25]:
def get_transactions_list():
    query = """
    MATCH (c:Client)-[:PERFORMED]->(t:Transaction)
    RETURN c.name AS client, labels(t) AS types, count(t) AS nb_transactions
    ORDER BY nb_transactions DESC;
    """
    results = cypher_query_read_executor(query)
    results_df = pd.DataFrame.from_records(results)
    return results_df

transactions_list = get_transactions_list()
transactions_list

                client                   types  nb_transactions
0       Daniel Hendrix   [CashIn, Transaction]              955
1       Isabella Grant   [CashIn, Transaction]              743
2         Aubree David   [CashIn, Transaction]              602
3       Isabella Grant  [CashOut, Transaction]              550
4         Evelyn Craig   [CashIn, Transaction]              532
...                ...                     ...              ...
9324       Stella Beck    [Debit, Transaction]                1
9325     Ellie Russell    [Debit, Transaction]                1
9326      Bella Little    [Debit, Transaction]                1
9327       Levi Bolton    [Debit, Transaction]                1
9328  Jeremiah Burnett    [Debit, Transaction]                1

[9329 rows x 3 columns]

### 3. Chaînes de transactions (chemins entre clients)

In [31]:
def get_transactions_strings():
    query="""MATCH path = (c1:Client)-[:PERFORMED]->(t1:Transfer)-[:TO]-> (c2:Client)-[:PERFORMED]->(t2:Transfer)-[:TO]->(c3:Client)
    RETURN path"""
    query_1 = """
    MATCH path = (c:Client)-[:PERFORMED]->(:Transfer)-[:TO*1..3]->(other:Client)
    RETURN path"""
    results = cypher_query_read_executor(query_1)
    results_df = pd.DataFrame.from_dict(results)
    return results_df

transactions_strings = get_transactions_strings()
transactions_strings

                                                    path
0      [{'name': 'Dylan Hunt', 'id': '478095878033882...
1      [{'name': 'Serenity Jacobson', 'id': '46223573...
2      [{'name': 'Brooklyn Harper', 'id': '4805783504...
3      [{'name': 'Claire Witt', 'id': '46549092099387...
4      [{'name': 'Oliver Daniel', 'id': '486800889836...
...                                                  ...
19455  [{'name': 'Michael Herman', 'id': '49958758099...
19456  [{'name': 'Ella Bush', 'id': '4025060919204955...
19457  [{'name': 'Elijah Byers', 'id': '4708996503243...
19458  [{'name': 'Adrian Carney', 'id': '492824416937...
19459  [{'name': 'Ariana Grant', 'id': '4850134858807...

[19460 rows x 1 columns]

### 4. Clients communs à plusieurs marchands

In [35]:
def common_clients_to_merchants():
    query="""
    MATCH (c:Client)-[:PERFORMED]->(t)-[:TO]->  (m:Merchant)
    WITH c, COLLECT(DISTINCT m) as merchants
    WHERE SIZE(merchants) > 1
    RETURN c.name as client, SIZE(merchants) as nb_merchants
    ORDER BY nb_merchants DESC"""
    results = cypher_query_read_executor(query)
    results_df = pd.DataFrame.from_records(results)
    return results_df

merch_clients = common_clients_to_merchants()
merch_clients

                   client  nb_merchants
0          Daniel Hendrix           346
1          Isabella Grant           344
2            Aubree David           337
3            Andrea Sweet           330
4          Michael Cooper           330
...                   ...           ...
1992       Adrian Hensley             2
1993      Audrey Atkinson             2
1994         Violet Marks             2
1995  Christopher Bradley             2
1996        Peyton Farmer             2

[1997 rows x 2 columns]

#### Checking if my clients are connected via the transactions

In [ ]:
# query = """
#     MATCH (c1:Client)-[:PERFORMED]->(:Transaction)<-[:TO]-(c2:Client)
#     WHERE c1 <> c2
#     RETURN c1.name AS sourceClient, c2.name AS targetClient
#     LIMIT 10
#     """

Since no client directly transfer cash to other clients we have o find another way to detet fraudulent transaxions

#### Check if Clients Share Emails, Phones, SSNs

In [61]:
def linked_through_ssn():
    query = """
    MATCH (c1:Client)-[:HAS_SSN]->(ssn:SSN)<-[:HAS_SSN]-(c2:Client)
    WHERE c1 <> c2
    RETURN c1.name AS Client1, c2.name AS Client2, ssn.ssn AS SharedSSN
    ORDER BY SharedSSN
    """
    results = cypher_query_read_executor(query)
    results_df = pd.DataFrame.from_records(results)
    return results_df

ssn_linked = linked_through_ssn()
ssn_linked

               Client1          Client2    SharedSSN
0        Caleb Holland        Ian Short  022-40-7485
1         London Perry        Ian Short  022-40-7485
2            Ian Short    Caleb Holland  022-40-7485
3         London Perry    Caleb Holland  022-40-7485
4            Ian Short     London Perry  022-40-7485
..                 ...              ...          ...
685         Jose Colon     Kaylee Owens  897-40-1618
686    Ryder Mcconnell     Kaylee Owens  897-40-1618
687  Nathan Stephenson  Ryder Mcconnell  897-40-1618
688         Jose Colon  Ryder Mcconnell  897-40-1618
689       Kaylee Owens  Ryder Mcconnell  897-40-1618

[690 rows x 3 columns]

In [58]:
def relations_shared_between_clients(link_type,relation_type):
    query = f"""
    MATCH (c1:Client)-[:{relation_type}]->(p:{link_type})<-[:{relation_type}]-(c2:Client)
    WHERE c1 <> c2
    RETURN c1.name, c2.name
    """
    results = cypher_query_read_executor(query)
    results_df = pd.DataFrame.from_records(results)
    return results_df

In [57]:
phone_detect = relations_shared_between_clients('Phone','HAS_PHONE')
phone_detect

               c1.name            c2.name
0         Evan Pacheco        David Klein
1     Tristan Griffith        David Klein
2          David Klein       Evan Pacheco
3     Tristan Griffith       Evan Pacheco
4          David Klein   Tristan Griffith
..                 ...                ...
715        Lily Hunter       Xavier Welch
716  Elizabeth Sanford    Aubrey Odonnell
717    Aubrey Odonnell  Elizabeth Sanford
718        Emma Nieves      Austin Norman
719      Austin Norman        Emma Nieves

[720 rows x 2 columns]

In [59]:
email_detect = relations_shared_between_clients('Email', 'HAS_EMAIL')
email_detect

              c1.name           c2.name
0     Taylor Morrison   Xavier Morrison
1     Xavier Morrison   Taylor Morrison
2      Lily Nicholson  Thomas Nicholson
3    Thomas Nicholson    Lily Nicholson
4        Nevaeh Weeks  Charlotte Graham
..                ...               ...
733     Andrew Prince    Mason Saunders
734       Austin Dale    Parker Lambert
735    Parker Lambert       Austin Dale
736       Jaxon Sykes   Carson Jennings
737   Carson Jennings       Jaxon Sykes

[738 rows x 2 columns]

#### Clients linked to same mule account

In [60]:
def linked_through_mule_or_fraud():
    query = """
    MATCH (c1:Client)-[:PERFORMED]->(:Transaction)-[:TO]->(m:Mule)<-[:TO]-(:Transaction)<-[:PERFORMED]-(c2:Client)
    WHERE c1 <> c2
    RETURN c1.name, c2.name, m.name
    """
    results = cypher_query_read_executor(query)
    results_df = pd.DataFrame.from_records(results)
    return results_df

mule_relations = linked_through_mule_or_fraud()
mule_relations

               c1.name              c2.name            m.name
0       Isabella Cline  Christopher Russell      Evan Pacheco
1       Isabella Cline         Alyssa Moore      Evan Pacheco
2       Isabella Cline         Levi Carroll      Evan Pacheco
3       Isabella Cline         Jack Vazquez      Evan Pacheco
4       Isabella Cline    Elizabeth Freeman      Evan Pacheco
...                ...                  ...               ...
28543  Savannah Juarez       Aaliyah Sharpe  Gabriella Crosby
28544    Caleb Spencer      Savannah Juarez  Gabriella Crosby
28545    Caleb Spencer       Aaliyah Sharpe  Gabriella Crosby
28546   Aaliyah Sharpe      Savannah Juarez  Gabriella Crosby
28547   Aaliyah Sharpe        Caleb Spencer  Gabriella Crosby

[28548 rows x 3 columns]

In [63]:
def create_fraud_graph():
    query = """
    CALL gds.graph.project.cypher(
    'fraudGraph',
    'MATCH (c:Client) RETURN id(c) AS id',
    '
    MATCH (c1:Client)-[:HAS_SSN]->(ssn:SSN)<-[:HAS_SSN]-(c2:Client)
    WHERE id(c1) < id(c2)
    RETURN id(c1) AS source, id(c2) AS target
    UNION
    MATCH (c1:Client)-[:HAS_EMAIL]->(e:Email)<-[:HAS_EMAIL]-(c2:Client)
    WHERE id(c1) < id(c2)
    RETURN id(c1) AS source, id(c2) AS target
    UNION
    MATCH (c1:Client)-[:HAS_PHONE]->(p:Phone)<-[:HAS_PHONE]-(c2:Client)
    WHERE id(c1) < id(c2)
    RETURN id(c1) AS source, id(c2) AS target
    '
    )
    """
    graph_result = cypher_query_read_executor(query)
    return graph_result

client_graph = create_fraud_graph()

Received notification from DBMS server: {severity: WARNING} {code: Neo.ClientNotification.Statement.FeatureDeprecationWarning} {category: DEPRECATION} {title: This feature is deprecated and will be removed in future versions.} {description: The query used a deprecated procedure. ('gds.graph.project.cypher' has been replaced by 'gds.graph.project Cypher projection as an aggregation function')} {position: line: 2, column: 5, offset: 5} for query: "\n    CALL gds.graph.project.cypher(\n    'fraudGraph',\n    'MATCH (c:Client) RETURN id(c) AS id',\n    '\n    MATCH (c1:Client)-[:HAS_SSN]->(ssn:SSN)<-[:HAS_SSN]-(c2:Client)\n    WHERE id(c1) < id(c2)\n    RETURN id(c1) AS source, id(c2) AS target\n    UNION\n    MATCH (c1:Client)-[:HAS_EMAIL]->(e:Email)<-[:HAS_EMAIL]-(c2:Client)\n    WHERE id(c1) < id(c2)\n    RETURN id(c1) AS source, id(c2) AS target\n    UNION\n    MATCH (c1:Client)-[:HAS_PHONE]->(p:Phone)<-[:HAS_PHONE]-(c2:Client)\n    WHERE id(c1) < id(c2)\n    RETURN id(c1) AS source, id(c2) AS target\n    '\n    )\n    "

### Partie 5 : Détection de communautés (Louvain)

In [49]:
def detect_communities():
    query = """
    CALL gds.louvain.stream('clientGraph1')
    YIELD nodeId, communityId
    RETURN gds.util.asNode(nodeId).name AS client, communityId
    ORDER BY communityId DESC
    """
    results = cypher_query_read_executor(query)
    results_df = pd.DataFrame.from_records(results)
    return results_df

communities = detect_communities()
communities

                  client  communityId
0        Adrian Jacobson         2432
1     Katherine Jacobson         2431
2        Nathaniel Myers         2430
3           Xavier Welch         2429
4          Elijah Warren         2428
...                  ...          ...
2428         Lauren Mack            4
2429        Landon Adams            3
2430        Faith Dotson            2
2431       Dominic Boyer            1
2432        Bentley Peck            0

[2433 rows x 2 columns]

In [50]:
def write_communities():
    query = """
    CALL gds.louvain.write('clientGraph1', { writeProperty: 'community' })
    YIELD communityCount, modularity
    """
    results = cypher_query_write_executor(query)
    # results_df = pd.DataFrame.from_records(results)
    return results

com_writing = write_communities()
com_writing

In [51]:
def show_communities():
    query = """
    MATCH (c:Client)
    RETURN c.name, c.community
    """
    results = cypher_query_read_executor(query)
    results_df = pd.DataFrame.from_records(results)
    return results_df

client_communities = show_communities()
client_communities

                  c.name  c.community
0           Bentley Peck            0
1          Dominic Boyer            1
2           Faith Dotson            2
3           Landon Adams            3
4            Lauren Mack            4
...                  ...          ...
2428       Elijah Warren         2428
2429        Xavier Welch         2429
2430     Nathaniel Myers         2430
2431  Katherine Jacobson         2431
2432     Adrian Jacobson         2432

[2433 rows x 2 columns]

### page rank

In [52]:
def detect_suspect_nodes_with_pagerank():
    query = """
    CALL gds.pageRank.stream('clientGraph1')
    YIELD nodeId, score
    RETURN gds.util.asNode(nodeId).name AS client, score
    ORDER BY score DESC
    """
    results = cypher_query_read_executor(query)
    results_df = pd.DataFrame.from_records(results)
    return results_df

suspect_nodes_w_pagerank = detect_suspect_nodes_with_pagerank()
suspect_nodes_w_pagerank

              client  score
0       Bentley Peck   0.15
1      Dominic Boyer   0.15
2       Faith Dotson   0.15
3       Landon Adams   0.15
4        Lauren Mack   0.15
...              ...    ...
2428    Samuel Ellis   0.15
2429    Alexa Rhodes   0.15
2430  Ariana Charles   0.15
2431     Zoey Mendez   0.15
2432      Dylan Gray   0.15

[2433 rows x 2 columns]

In [53]:
def detect_suspect_nodes_with_betweenness():
    query = """
    CALL gds.betweenness.stream('clientGraph1')
    YIELD nodeId, score
    RETURN gds.util.asNode(nodeId).name AS client, score
    ORDER BY score DESC
    """
    results = cypher_query_read_executor(query)
    results_df = pd.DataFrame.from_records(results)
    return results_df

suspect_nodes_w_betweenness = detect_suspect_nodes_with_betweenness()
suspect_nodes_w_betweenness

              client  score
0       Bentley Peck    0.0
1      Dominic Boyer    0.0
2       Faith Dotson    0.0
3       Landon Adams    0.0
4        Lauren Mack    0.0
...              ...    ...
2428    Samuel Ellis    0.0
2429    Alexa Rhodes    0.0
2430  Ariana Charles    0.0
2431     Zoey Mendez    0.0
2432      Dylan Gray    0.0

[2433 rows x 2 columns]

### 7-Similarity comparison

In [65]:
def similarity_comparison():
    query = """
    CALL gds.nodeSimilarity.stream('fraudGraph')
    YIELD node1, node2, similarity
    RETURN
    gds.util.asNode(node1).name AS client1,
    gds.util.asNode(node2).name AS client2,
    similarity
    ORDER BY similarity DESC
    """
    results = cypher_query_read_executor(query)
    results_df = pd.DataFrame.from_records(results)
    return results_df

similarities = similarity_comparison()
similarities

                 client1           client2  similarity
0             Kevin Koch  Isabella Salinas    1.000000
1       Isabella Salinas        Kevin Koch    1.000000
2     Charlotte Bradshaw       David Klein    1.000000
3         Josiah Sargent   Jason Valentine    1.000000
4            Zoe Hickman     Ethan Justice    1.000000
...                  ...               ...         ...
1209      Robert Clayton       David Poole    0.125000
1210        Jaxon Dudley     Lauren Hayden    0.111111
1211       Lauren Hayden      Jaxon Dudley    0.111111
1212     Carson Jennings        Ella Dixon    0.111111
1213          Ella Dixon   Carson Jennings    0.111111

[1214 rows x 3 columns]

In [66]:
def create_bipartite_graph():
    query = """
    CALL gds.graph.project(
    'bipartiteFraudGraph',
    ['Client', 'Phone', 'Email', 'SSN'],
    {
        HAS_PHONE: {
        type: 'HAS_PHONE',
        orientation: 'UNDIRECTED'
        },
        HAS_EMAIL: {
        type: 'HAS_EMAIL',
        orientation: 'UNDIRECTED'
        },
        HAS_SSN: {
        type: 'HAS_SSN',
        orientation: 'UNDIRECTED'
        }
    }
    )
    """
    graph_result = cypher_query_read_executor(query)
    return graph_result

bipartite_graph = create_bipartite_graph()

In [67]:
def confirm_graphs():
    query="""
    CALL gds.graph.list()
    YIELD graphName, nodeCount, relationshipCount, schema;
    """
    results = cypher_query_read_executor(query)
    results_df = pd.DataFrame.from_records(results)
    return results_df

graphs = confirm_graphs()
graphs

Received notification from DBMS server: {severity: WARNING} {code: Neo.ClientNotification.Statement.FeatureDeprecationWarning} {category: DEPRECATION} {title: This feature is deprecated and will be removed in future versions.} {description: The query used a deprecated field from a procedure. ('schema' returned by 'gds.graph.list' is deprecated.)} {position: line: 3, column: 52, offset: 78} for query: '\n    CALL gds.graph.list()\n    YIELD graphName, nodeCount, relationshipCount, schema;\n    '

,graphName,nodeCount,relationshipCount,schema
0,bipartiteFraudGraph,9134,14598,"{'graphProperties': {}, 'nodes': {'Phone': {},..."
1,fraudGraph,2433,759,"{'graphProperties': {}, 'nodes': {'__ALL__': {..."

In [69]:
def get_graph_data():
    query = """
    MATCH (n)-[r]->(m)
    RETURN id(n) AS source, id(m) AS target,
           labels(n)[0] AS source_label, labels(m)[0] AS target_label,
           type(r) AS relationship
    """
    with driver.session(database='frauddetect') as session:
        results = session.run(query)
        return [record.data() for record in results]

graph_data = get_graph_data()

Received notification from DBMS server: {severity: WARNING} {code: Neo.ClientNotification.Statement.FeatureDeprecationWarning} {category: DEPRECATION} {title: This feature is deprecated and will be removed in future versions.} {description: The query used a deprecated function: `id`.} {position: line: 3, column: 12, offset: 35} for query: '\n    MATCH (n)-[r]->(m)\n    RETURN id(n) AS source, id(m) AS target,\n           labels(n)[0] AS source_label, labels(m)[0] AS target_label,\n           type(r) AS relationship\n    '
Received notification from DBMS server: {severity: WARNING} {code: Neo.ClientNotification.Statement.FeatureDeprecationWarning} {category: DEPRECATION} {title: This feature is deprecated and will be removed in future versions.} {description: The query used a deprecated function: `id`.} {position: line: 3, column: 29, offset: 52} for query: '\n    MATCH (n)-[r]->(m)\n    RETURN id(n) AS source, id(m) AS target,\n           labels(n)[0] AS source_label, labels(m)[0] AS target_label,\n           type(r) AS relationship\n    '

In [75]:
G = nx.DiGraph()

# Add nodes and edges
for row in graph_data:
    G.add_node(row['source'], label=row['source_label'])
    G.add_node(row['target'], label=row['target_label'])
    G.add_edge(row['source'], row['target'], label=row['relationship'])

In [ ]:
# Layout
pos = nx.spring_layout(G, seed=42)

# Edges
edge_x = []
edge_y = []
for edge in G.edges():
    x0, y0 = pos[edge[0]]
    x1, y1 = pos[edge[1]]
    edge_x += [x0, x1, None]
    edge_y += [y0, y1, None]

edge_trace = go.Scatter(
    x=edge_x, y=edge_y,
    line=dict(width=0.5, color='#888'),
    hoverinfo='none',
    mode='lines'
)

# Nodes
node_x = []
node_y = []
node_text = []
for node in G.nodes(data=True):
    x, y = pos[node[0]]
    node_x.append(x)
    node_y.append(y)
    node_text.append(node[1]['label'])

node_trace = go.Scatter(
    x=node_x, y=node_y,
    mode='markers+text',
    hoverinfo='text',
    text=node_text,
    marker=dict(
        showscale=True,
        colorscale='YlGnBu',
        color=[len(list(G.neighbors(n))) for n in G.nodes()],
        size=20,
        colorbar=dict(
            thickness=15,
            title='Number of Connections',
            xanchor='left',
            titleside='right'
        ),
        line_width=2)
)

# Final Plot
fig = go.Figure(data=[edge_trace, node_trace],
             layout=go.Layout(
                title='<br>Graph Visualisation from Neo4j',
                titlefont_size=16,
                showlegend=False,
                hovermode='closest',
                margin=dict(b=20,l=5,r=5,t=40),
                xaxis=dict(showgrid=False, zeroline=False),
                yaxis=dict(showgrid=False, zeroline=False))
)

fig.show()